@model IEnumerable<WebApplicationNetCore.Models.Rubro>

@{
    ViewData["Title"] = "Rubros";
}

@*- BOTÓN QUE LLAMA AL MODAL - ---------------------------------------------------------------------------------------------------------------*@

<h1>Rubros  

</h1>

<button type="button" onclick="AbrirModal()" class="btn btn-light m-1" data-toggle="modal" data-target="#modalAbrir">
  Nuevo Rubro 
</button>



@*- TABLA - ----------------------------------------------------------------------------------------------------------------------------------*@

<table class="table table-boardered">
    <thead class="table" style="color:White; background-color:#3F72AF">
        <tr>
            <th>
               Descripción
            </th>
            <th class="text-center">Opciones</th>
        </tr>
    </thead>
    <tbody id="tbody-rubros">


    </tbody>
</table>

@*- MODAL - ---------------------------------------------------------------------------------------------------------------------------------*@

<div class="modal" id="Rubros" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="color:white; background-color: #769FCD;">
        <h5 class="modal-title" id="Titulo"></h5>
        <button type="button" class="close" onclick="VaciarFormulario()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="color:black; background-color: #F7FBFC;">
        <form>

         <input type="hidden" id="RubroID" value="0"/>
         <label >Descripción del Rubro.</label>
         <input required id="RubroNombre" type="text" class="form-control p-3 bg-white rounded text-capitalize" autocomplete="off" placeholder="Descripción" aria-label="Username" aria-describedby="basic-addon1"  />
         <p id="Error-RubroNombre" class="text-danger"></p> 

        </form>
       
      </div>
     
      <div class="modal-footer"  style="color:white; background-color: #B9D7EA;">
        <button type="button" class="btn btn-secondary" onclick="VaciarFormulario()" data-dismiss="modal"><i class="bi bi-x-square" style="font-size: 1.2rem; color: white;"></i></button>
        <button type="button" onclick ="GuardarRubro()" class="btn btn-success"><i class="bi bi-save" style="font-size: 1.2rem; color: white;"></i> </button>
      </div>
    </div>
  </div>
</div>

@*- LLAMADA AL JS - ---------------------------------------------------------------------------------------------------------------------------*@

@section Scripts {
<script src="~/js/Rubro-01.js"></script>
<script>
window.onload = CompletarTablaRubros();
</script>
}